* {
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;
}

header {
    background: black;
}

/*images*/

img.cover-mobile,
img.cover {
    width: 100%;
    opacity: 0.4;

}

img.cover {
    display: none;
}

.logo {
    position: absolute;
    top: 7px;
    left: 2%;
    width: 40px;
    z-index: 3;
}

#Layer_1 {
    width: 40px;
}

.navigation {
    width: 100%;
    height: 50px;
    background-color: #556E37;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
}


.nav {
    height: 100%;
    width: 100%;
    background-color: #556E37;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 4;

    /*display: none;*/
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 0.9em;
    width: 40%;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
}

nav {
    margin-top: 15%;
    margin-left: 5%;
}
