* {
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;
}

header {

    width: 100%;
    height: auto;
    padding: 0%;

}

a:hover {
    opacity: 0.8;
}

/*images*/

img.cover-mobile,
img.cover {
    width: 100%;

}

img.cover {
    display: none;
}

.logo {
    position: absolute;
    top: 7px;
    left: 5%;
    width: 40px;
}


#Layer_1 {
    width: 30px;
    padding-bottom: 5%;
    cursor: pointer;

}

.navigation {
    width: 100%;
    height: 50px;
    background-color: #556E37;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;

}


div.nav {
    height: 100%;
    width: 100%;
    background-color: #556E37;
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
    z-index: 2;
    animation: 2s drop-down;
}


nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;

    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
}

.small-nav {
    font-size: 0.7em;
    display: none;
}

.minus {
    display: none;
    cursor: pointer;
}

.plus {
    cursor: pointer;
}

nav {
    margin-top: 2%;
    margin-left: 5%;
}

/*hamburger icon*/


.ham {
    cursor: pointer;
    position: fixed;
    top: 1.0%;
    right: 4%;
    width: 36px;
    z-index: 40;
}


.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.cover-container {
    position: relative;
    text-align: center;
    color: white;
}

.cover-title {
    position: absolute;
    font-family: "Selfie";
    font-weight: 100;
    font-size: 2.5em;
    width: 100%;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cover-adress {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 0.2em;
}

.program-icon {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.program h1 {
    text-align: center;
    margin-top: 10px;
    font-family: "Selfie";
    font-weight: 100;
    color: #556E37;
    font-size: 1.5em;
}


.program p {
    font-size: 0.8em;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    letter-spacing: 1px;
}

.programs a {
    cursor: pointer;
}
.odbor {
     width: 60px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 40px;
    grid-area: icon-area;
}

.grid-container h1{
    font-family: "Selfie";
    font-weight: 100;
    color: #556E37;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1px;
    grid-area: h1-area;

}

.grid-container p {
  font-size: 0.8em;
   color: black;
    width: 100%;
    font-weight: 200;
    grid-area: p-area;

}

.line1 {
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
}
.more {
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.grid-container {
    display: grid;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 90%;
    grid-template-columns: 100px auto;
    grid-template-areas: "icon-area h1-area"
        "icon-area p-area"
        ". button-area"
        ". info-area"
}

.odbor-more {
    width: 30px;
    display: block;
 cursor: pointer;
    margin-top: 3%;
    grid-area: button-area;
}
.odbory {
    margin-top: 10px;
    margin-left: 0%;
    font-size: 0.6em;

}

.info {
    grid-area: info-area;
}
.odbory a {
    color: black;
    margin: 1%;
}
.programs .line {
    border-bottom: solid 0.5px black;
    width: 200px;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.programs {
    background-color: #F7F7F7;
    padding-top: 10%;
    padding-bottom: 10%;
}


.video-section h1 {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    font-family: "Selfie";
    font-weight: 100;
    color: #556E37;
    font-size: 1.5em;
}

.video-section p {
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    letter-spacing: 1px;
}

.video-section {
    padding-top: 10%;
    padding-bottom: 10%;
}

.about {padding-top: 3%;}

/*article*/
article {
    margin-top: 50px;
}

h1.title {
    padding-top: 5%;
    padding-bottom: 1%;
    width: 100%;
    padding-left: 5%;
    font-family: "Selfie";
    font-weight: 100;
    color: #556E37;
    font-size: 2em;
    background-color: #F7F7F7;
}

.button {
    width: 120px;
    border: solid 1px black;
    font-family: "Nunito";
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 25px;
}

.back-button {
    margin-left: 5%;
}

.all-button {
    position: absolute;
right: 5%;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

p.description {
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    letter-spacing: 1px;
}

.heading-article {
    font-size: 0.8em;
    color: #556E37;
}

article img {
    width: 100%;
}

/*footer*/
footer {
    background-color: #556E37;
    padding-top: 5%;
    padding-bottom: 10%;
}

#Layer_2 {
    width: 30px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 40px;
}

footer span {
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-left: 8%;
    position: absolute;
    margin-top: 44px;
}

.SoMe-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

footer h2 {
    margin-left: 5%;
    color: white;
    font-size: 0.8em;
    letter-spacing: 1.5px;
}

.nav-footer span {
    border-bottom: solid 1px white;
    width: 50px;
    margin-left: 5%;
    margin-top: 15px;
}

.nav-footer nav {
    margin-top: 40px;
}

.nav-footer a {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: 1px;
}

.second-nav {
    margin-top: 50px;
}

.body-navigation {
    margin-top: 10%;
    margin-bottom: 10%;
}

.body-navigation a {
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 0.6em;
}

.body-navigation a.main {
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 0.8em;
    color: #556E37;
    font-weight: 600;
    font-size: 0.8em;
}

.all {margin-top: 20%;}

/*template*/
.mySlides1 img {
    width: 90%;
    margin-left: 5%;
}

.mySlides1 h1 {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    font-family: "Selfie";
    font-weight: 100;
    color: #556E37;
    font-size: 1.5em;
}

.mySlides1 p {
    width: 90%;
    margin-left: 5%;
    font-size: 0.8em;
    margin-top: 10px;
    letter-spacing: 1px;
}

.mySlides1 {
    margin-top: 7%;
    margin-bottom: 7%;
}

.mySlides1 a {
    color: black;
}

a img.image-template {
    width: 30px;
    padding-bottom: 5%;
    cursor: pointer;
    margin-top: 30px;
}


/*animations*/

@keyframes drop-down {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.selected {
    text-decoration: line-through;
}

.not-actual {
    opacity: 0.6;
}
